<!DOCTYPE html>
html(lang="en-us")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Title page
    link(rel="stylesheet", href="css/style.css")
  body
   .body#js-grid
    .shadow
    .circle-example
      .text +1
      each val in [69,64,65,52,41,33,22,15,11]
        .image-wrapper
          img.image(src='http://i.pravatar.cc/300?img=' + val)
    .main
      .example 1
      .example 2
      .example 3
      .example 4

    .container
      .overflow-example
        img.cat(src='https://habrastorage.org/webt/og/ii/2n/ogii2nitg-rbywoanqeqres1ajc.png')
   script(src="https://unpkg.com/babel-standalone@6/babel.min.js")
   script(src="js/script.js")

